<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }

        .list table th, .list table td {
            border: solid 1px #000;
        }
        .manage {
            text-align: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous">
    </script>
    <script>
        function submit() {
            if($('select[name=openType]').val() == "none"){
                alert("오픈 방법을 선택해주세요");
                $('select[name=openType]').focus();
                return false;
            }
            document.getElementById('submit').submit();
        }
    </script>
    <div th:replace="/fragments/layout.html::fragment-admin-body-menu"></div>
</head>
<body>
<h1>배너 관리 - 배너 수정</h1>

<div class="list">
        <table>
            <form method="post" action="/admin/banner/update.do" id="submit" enctype="multipart/form-data">
                <input type="hidden" th:value="${banner.id}" name="bannerId">
                <tbody>
                <tr>
                    <th>배너명</th>
                    <td>
                        <input th:value="${banner.bannerName}" type="text" name="name" required>
                    </td>
                </tr>
                <tr>
                    <th>배너 이미지 변경하기</th>
                    <td>
                        <input class="file" type="file" name="image" accept="image/*">
                    </td>
                </tr>
                <tr>
                    <th>링크 주소</th>
                    <td>
                        <input th:value="${banner.url}" type="url" name="link" required>
                    </td>
                </tr>
                <tr>
                    <th>오픈 방법</th>
                    <td>
                        <div th:if="${banner.openType.toString().equals('NEW')}">
                            <select name="openType" required>
                                <option value="none">오픈 방법 선택</option>
                                <option value="NEW" selected>새 창에서 이동</option>
                                <option value="CURRENT">현재 창에서 이동</option>
                            </select>
                        </div>

                        <div th:if="${banner.openType.toString().equals('CURRENT')}">
                            <select name="openType" required>
                                <option value="none">오픈 방법 선택</option>
                                <option value="NEW">새 창에서 이동</option>
                                <option value="CURRENT" selected>현재 창에서 이동</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>정렬 순서</th>
                    <td>
                        <input type="text" th:value="${banner.sortValue}" name="seq" required>
                    </td>
                </tr>
                <tr>
                    <th>공개 여부</th>
                    <td>
                        <div th:if="${banner.openYn eq true}">
                            <input type="checkbox" name="openYn" value="true" checked required>
                            <label>공개</label>
                        </div>
                        <div th:if="${banner.openYn eq false}">
                            <input type="checkbox" name="openYn" value="true" required>
                            <label>공개</label>
                        </div>
                    </td>
                </tr>
                </form>
            </tbody>
        </table>
</div>
<br/>
<br/>
<div class="manage">
    <a href="#" onclick="return submit()">배너 수정하기</a>
    &nbsp;
    <a href="/admin/banner/list.do">목록 이동</a>
</div>


</body>
</html>