<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
<h1>회원 가입</h1>
<div th:replace="/fragments/layout.html::fragment-body-menu">
</div>
<!--아이디(이메일), 이름, 전화번호, 비밀번호-->
<form method="post">
    <div>
        <input type="email" placeholder="이메일 입력" name="userId" required/>
    </div>
    <div>
        <input type="text" placeholder="이름 입력" name="userName" required/>
    </div>
    <div>
        <input type="password" placeholder="비밀번호 입력" name="password" required/>
    </div>
    <div>
        <input type="password" placeholder="확인 비밀번호 입력" name="rePassword" required/>
    </div>
    <div>
        <input type="tel" placeholder="전화번호 입력" name="phone" required/>
    </div>
    <div>
        <button>회원 가입 하기</button>
    </div>
</form>

</body>
</html>