<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.admin.mapper.MemberMapper">

    <select id="selectListCount"
            parameterType="com.zerobase.fastlms.admin.model.MemberSearchParam"
            resultType="long">
        select count(*)
        from member
        <if test="searchType != null and searchValue != null">
            <choose>
                <when test="searchType == 'userId'">
                    where user_id like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'userName'">
                    where user_name like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'phone'">
                    where phone_number like concat('%', #{searchValue}, '%')
                </when>
                <otherwise>
                    where user_id like concat('%', #{searchValue}, '%')
                    or user_name like concat('%', #{searchValue}, '%')
                    or phone_number like concat('%', #{searchValue}, '%')
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="selectList"
            parameterType="com.zerobase.fastlms.admin.model.MemberSearchParam"
            resultType="com.zerobase.fastlms.admin.dto.MemberDto">
        select *
        from member
        left outer join
        (select *
        from login_history
        order by login_dt desc
        limit 1)
        lh
        on member.user_id = lh.member_user_id
            <if test="searchType != null and searchValue != null">
                <choose>
                    <when test="searchType == 'userId'">
                        where user_id like concat('%', #{searchValue}, '%')
                    </when>
                    <when test="searchType == 'userName'">
                        where user_name like concat('%', #{searchValue}, '%')
                    </when>
                    <when test="searchType == 'phone'">
                        where phone_number like concat('%', #{searchValue}, '%')
                    </when>
                    <otherwise>
                        where user_id like concat('%', #{searchValue}, '%')
                            or user_name like concat('%', #{searchValue}, '%')
                            or phone_number like concat('%', #{searchValue}, '%')
                    </otherwise>
                </choose>
            </if>
            limit #{pageStart}, #{pageEnd}
    </select>
    <!--
    limit 0, 10 : pageIndex: 1
    limit 10, 10 : pageIndex: 2
    limit 20, 10 : pageIndex: 3
    limit 30, 10 : pageIndex: 4
    -->
</mapper>