<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function(){
        $(".slider").bxSlider();
    });
</script>
<body>
<h1>메인 페이지</h1>
    <div th:replace="/fragments/layout.html::fragment-body-menu"></div>
        <div class="slider">
        <div th:each="x:${banners}">
                <a th:if="${x.openType.toString().equals('NEW')}" th:href="${x.url}" rel ="noreferrer" target="_blank"><img th:src="${'/resources/assets/' + x.imagePath}" width="1400" height="680"/></a>
                <a th:if="${x.openType.toString().equals('CURRENT')}" th:href="${x.url}"><img th:src="${'/resources/assets/' + x.imagePath}" width="1400" height="680"/></a>
        </div>
    </div>
</body>
</html>